<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8" />
    <title>ZOOM CLONE</title>
    <script src=""></script>
  </head>
  <body>
    <div id="video-grid"></div>
    <script src="script.js"></script>
  </body>
</html>
